* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: 1rem;
    font-family: 'Inconsolata', monospace;
}

.header {
    padding-top: 150px;
}

.top {
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(../images/header-photo.jpg);
    background-size: cover;
    background-position: center;
    color: #ededed;
    height: 100%; 
}

.navbar {
    background: rgba(227,227,227,0.4);
    color: black;
    font-weight: 600;
}

#header-button {
    border: 1px solid #ededed;
    color: #ededed;
    margin-top: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#header-button:hover {
    background-color: #ededed;
    color: black;

}

.skills img {
    width: 5em;
}

.projects{
    margin-top: 10rem;
}

.card {
    margin: auto;
    padding: auto;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.projects {
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(../images/projects-bg.jpg);
    background-size: cover;
    background-position: center;
}

.projects h1 {
    color: #ededed;;
}

#logo {
    width: 8em;
    height: auto;
}

#profile-pic {
    width: 20em;
    height: auto;
    border: 1px solid #151983;
    border-radius: 50%;
}